# flake8 maintainer does not like pyproject.toml:
# https://github.com/PyCQA/flake8/issues/234#issuecomment-812800722

[flake8]
# References:
# https://flake8.readthedocs.io/en/latest/user/configuration.html
# https://flake8.readthedocs.io/en/latest/user/error-codes.html

# Note: there cannot be spaces after comma's here
ignore =
    W503,W504
    E203
    C408

max-line-length = 88
select = C,E,F,W,B,B950 # black formatting options
exclude =
    __init__.py
    doc/conf.py
no-accept-encodings = True
