name: weldx
channels:
  - defaults
  - anaconda
  - conda-forge
dependencies:
  - python=3.7
  - numpy>=1.18
  - pandas>=0.25
  - scipy
  - xarray
  - pint
  - bottleneck
  - asdf=2.5.1
  - sphinx
  - recommonmark
  - openpyxl
  # graph packages
  - networkx
  # Code quality
  - black
  - codecov
  - flake8
  - pydocstyle
  - pytest
  - pytest-cov
  - vulture
  # Plotting
  #- graphviz
  - ipykernel
  - ipympl
  - line_profiler
  - matplotlib
  - memory_profiler
  #- python-graphviz
  - seaborn
  - snakeviz
