name: weldx
channels:
  - defaults
  - conda-forge
dependencies:
  - python=3.7
  - numpy>=1.18
  - pandas>=1.0
  - scipy>=1.4
  - sympy>=1.6
  - xarray>=0.15
  - pint>=0.11
  - bottleneck
  - asdf>=2.7
  - openpyxl
  - jinja2
  # graph packages
  - networkx
  # Code quality
  - black
  - codecov
  - flake8=3.7
  - isort>=5.1
  - pydocstyle=5
  - pytest
  - pytest-cov
  # Plotting
  - ipykernel
  - ipympl
  - line_profiler
  - matplotlib
  - memory_profiler
  - seaborn
  - snakeviz
  # documentation
  - sphinx
  - recommonmark
  - sphinxcontrib-napoleon
  - nbsphinx
  - sphinx-copybutton
  - sphinxcontrib-bibtex
  - pydata-sphinx-theme
  - numpydoc>=0.5
  - sphinx-autodoc-typehints
  # pip packages
  - pip
  - pip:
    - git+https://github.com/CagtayFabry/sphinx-asdf.git@sphinx-weldx
