global-exclude .*

recursive-include weldx/schemas *.yaml
recursive-include weldx/manifests *.yaml
include CITATION.cff

prune .github
prune devtools
prune doc
prune tutorials
prune build

# TODO: sdist contains files in parent, which are not part of the source dist (e.g. unversioned files etc. in repo)
