name: weldx
channels:
  - defaults
  - conda-forge
dependencies:
  - python=3.7
  - numpy>=1.18
  - pandas>=1.0
  - scipy<1.6
  - sympy>=1.6
  - xarray>=0.15
  - pint>=0.11
  - bottleneck
  - asdf>=2.7
  - openpyxl
  # graph packages
  - networkx
  # Code quality
  - black
  - codecov
  - flake8=3.7
  - isort>=5.1
  - pydocstyle=5
  - pytest
  - pytest-cov
  # Plotting
  - ipykernel
  - ipympl=0.5.8
  - line_profiler
  - matplotlib=3.3.1
  - memory_profiler
  - seaborn
  - snakeviz
  - ipywidgets
  - nodejs=14

