name: weldx
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.9
  - setuptools_scm
  - pip
  # Notebook + Plotting
  - jupyterlab=2
  - ipykernel
  - matplotlib=3.3.2
  - ipympl=0.5.8
  - nodejs=14
  - pip:
    - git+https://github.com/BAMWelDX/weldx.git
