name: weldx
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.9
  - setuptools_scm
  - pip
  # jupyterlab setup
  - jupyterlab=3
  - ipympl
  # weldx
  - numpy
  - pandas
  - xarray
  - scipy
  - sympy
  - pint
  - asdf
  - bottleneck
  - boltons
  - networkx
  - fs
  - ipywidgets
  - ipykernel
  - k3d=2.11
  - meshio
  - psutil
