%YAML 1.1
---
$schema: "http://stsci.edu/schemas/yaml-schema/draft-01"
id: "http://weldx.bam.de/schemas/weldx/{{ asdf_name }}-{{ asdf_version }}"
tag: "tag:weldx.bam.de:weldx/{{ asdf_name }}-{{ asdf_version }}"

title: |
  {{ schema_title }}
description: |
  {{ schema_description }}
type: object
properties:
{%- for prop, dtype, desc in zip(properties,property_types,description) %}
  {{ prop }}:
    description: |
      {{ desc }}
{%- if  str.startswith(dtype,"List[") %}
    type: array
    items:
      {{ _asdf_dtype(dtype) }}
{%- else %}
    {{ _asdf_dtype(dtype) }}
{%- endif %}
{% endfor %}

{% if required is not none -%}
required: [{{ ", ".join(required)}}]
{%- endif %}
{% if property_order is not none -%}   
propertyOrder: [{{ ", ".join(property_order)}}]
{%- endif %}
{% if flow_style is not none -%}
flowStyle: {{ flow_style }}
{%- endif %}
additionalProperties: {{ additional_properties }}
...
