name: documentation builds
on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
  release:
    types:
      - created
  schedule:
    - cron: '0 6 * * 1'
  workflow_dispatch:
    inputs:
      nbsphinx_execute:
        description: 'run notebooks (always/never)'
        required: true
        default: 'always'

jobs:
  build:
    if: |
      (github.event.pull_request.draft == false) ||
      (github.event_name == 'workflow_dispatch') ||
      (github.ref == 'refs/heads/master')
    name: sphinx build
    runs-on: ubuntu-latest
    env:
      nbsphinx_execute: 'always'
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Cache conda
        uses: actions/cache@v3
        env:
          # Increase this value to reset cache if ./environment.yml has not changed
          CACHE_NUMBER: 0
        with:
          path: |
            ~/conda_pkgs_dir
            ~/.cache/pip
          key: ${{ runner.os }}-conda-${{ env.CACHE_NUMBER }}-${{ hashFiles('./doc/rtd_environment.yml', './setup.cfg') }}

      - name: Setup Conda Environment
        uses: mamba-org/provision-with-micromamba@v11
        with:
          environment-file: ./doc/rtd_environment.yml
          environment-name: rtd

      - name: activate build env
        shell: bash -l {0}
        run: micromamba activate rtd

      - name: conda info
        shell: bash -l {0}
        run: conda info

      - name: conda list
        shell: bash -l {0}
        run: conda list

      - name: install weldx kernel
        shell: bash -l {0}
        run: ipython kernel install --user --name=weldx

      - name: set notebook execution
        if: (github.event_name == 'workflow_dispatch')
        run: echo "nbsphinx_execute=${{ github.event.inputs.nbsphinx_execute }}" >> $GITHUB_ENV

      - name: Build docs
        shell: bash -l {0}
        run: sphinx-build -W -n -b html -d build/doctrees doc build/html --keep-going -j auto -D nbsphinx_execute=${{ env.nbsphinx_execute }}

      - uses: actions/upload-artifact@v2
        if: |
          always() && (
          startsWith(github.ref, 'refs/tags/') ||
          (github.event_name == 'workflow_dispatch') ||
          (github.ref == 'refs/heads/master') ||
          (github.event_name == 'release' && github.event.action == 'created')
          )
        with:
          name: weldx-docs
          path: build/html
