name: pytest asdf
on:
  push:
  pull_request:
  # Run every Monday at 6am UTC
  schedule:
    - cron: '0 6 * * 1'

jobs:
  pytest_asdf:
    name: pytest asdf
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0 # Fetch all history for all tags and branches
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.ref }}
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('setup.cfg') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: pip installs
        run: |
          pip install -e .[test]
      - name: run asdf schema pytest
        run: |
          pytest --asdf-tests --ignore=weldx/tests/ --no-cov weldx/schemas/
      - name: check manifest diff
        if: always()
        run: |
          cd ./devtools/scripts/
          python ./update_manifest.py
      - name: git diff
        if: always()
        run: |
          git diff --color --exit-code


  validate_manifest:
    name: validate weldx manifest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-0
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: pip installs
        run: |
          pip install asdf>=2.10
      - uses: jannekem/run-python-script-action@v1
        with:
          script: |
            from pathlib import Path
            import asdf
            import yaml
            schema = asdf.schema.load_schema(
                "asdf://asdf-format.org/core/schemas/extension_manifest-1.0.0"
            )
            for f in Path("./weldx/manifests/").glob("*.yaml"):
                manifest = yaml.safe_load(open(f).read())
                asdf.schema.validate(manifest, schema=schema)
