name: pytest asdf
on: [push]

jobs:
  pytest:
    name: pytest asdf
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04]
        py: [ '3.7', '3.8' ]
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.py }}
      - name: pip installs
        run: |
          pip install pytest pytest-cov
          pip install .
      - name: run pytest
        run: |
          pytest --asdf-tests --ignore=tests/