name: static analysis
on:
  push:
  pull_request:
  # Run every Monday at 6am UTC
  schedule:
    - cron: '0 6 * * 1'

jobs:
  pydocstyle:
    name: pydocstyle
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - name: pip installs
        run: pip install pydocstyle
      - name: run pydocstyle
        run: |
          pydocstyle

  flake8:
    name: flake8
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - name: pip installs
        run: pip install flake8==3.8.*
      - name: run flake8
        run: |
          flake8

  isort:
    name: isort
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - name: pip installs
        run: pip install isort==5.*
      - name: show isort diff
        run: |
          isort ./weldx/*.py --diff
      - name: run isort
        run: |
          isort ./weldx/*.py -c

  black:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: psf/black@stable
        with:
          options: "--check --diff --verbose"

  mypy:
    name: mypy
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - name: pip installs
        run: pip install mypy
      - name: run mypy
        run: |
          mypy --install-types --non-interactive .

  lint (pre-commit):
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.x
      - name: Lint
        uses: pre-commit/action@v2.0.3
        with:
          extra_args: --all-files --show-diff-on-failure
